.header-a4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.body-a4{
    max-width:21cm;
    margin-left: 24mm;
    margin-bottom: 7mm;
    margin-right: 6mm;
    margin-top: 10mm;
}
.article-a4{
    font-size: 5mm;
    line-height: 5mm;
    display: block;
    max-width:18cm;
}
